@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Reset de estilo padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Variáveis CSS */
:root {
    
    /*  Fontes  */
    --fonte-padrao: 400 1rem/1.5rem 'Inter', sans-serif;
    --fonte-titulo: 600 2rem 'Inter', sans-serif;
    
    /*  Cores   */
    --cor-primaria: #f5f5f5;
    --azul-escuro: #012340;
    --azul-claro: #022C66;
    --verde-claro: #05C148;

}

/* Luiz F.*/
body{
    font: var(--fonte-padrao);
    background-color: #022C66;
}
.card{
    float: left;
    justify-content: center;
    display: flex;
    justify-content: space-around;
    margin: 20px;
    background-color:#05C148;
    color: black;
    font-family: sans-serif;
    text-align: center;

}

.card-title, .card-text{
    color:white;
}
.titleMain{
    text-align: center;
    font-size: 35px;
    color:#05C148;
}

/* classe padrão para títulos */
.title {
    font: var(--fonte-titulo);
    letter-spacing: 5%;
    text-align: center;
    padding: 1rem 0;
}

/*  Sessão sobre cedup  */

.aboutCedup-container {
    width: 100%;
    background: #f7f7f7;
    color: var(--azul-claro);
}

.aboutCedup-container article {
    width: 80%;
    max-width: 800px;
    padding: 1rem;
    padding-bottom: 2rem;
    margin: 0 auto;
    color: #000;
}

.aboutCedup-container .aboutCedup-content p{
    font: var(--fonte-padrao);
    text-indent: 1rem;
    text-align: justify;
    margin-bottom: 1rem;
    color: #000;
}

.aboutCedup-container article figure {
    margin: 1rem 0;
}

.aboutCedup-container article figure img {
    display: block;
    width: 100%;
}

.aboutCedup-container article figure figcaption {
    font: var(--fonte-padrao);
    text-align: center;
    font-style: italic;
    font-size: 14px;
    margin-top: 10px;
}
  
/*  Sessão de contato*/
.contact-container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(120.61deg, var(--verde-claro) 17.15%, var(--azul-claro) 84.6%);
}

.contact-container .title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 58px;
    color: var(--cor-primaria);
}

.contact-container .contact-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2rem;
}

.contact-content .contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 2rem;
}

.contact-wrapper .contact-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 0;
    cursor: pointer;
}

.contact-item a,
.contact-item p {
    text-decoration: none;
    font: var(--fonte-padrao);
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--cor-primaria);
    margin: 0;
    margin-left: 8px;
}

.contact-content .map-iframe {
    height: 450px;
    width: 600px;
    max-width: 100%;
}

.contact-content .map-iframe iframe{
    height: 100%;
    max-width: 100%;
}

/*   Footer   */

.footer {
    background-color: var(--azul-escuro);
}

.footer__content {
    width: 100%;
    height: auto;
    min-height: 300px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__content-logo {
    width: 100px;
    height: 100px;
    margin-right: 2rem;
}

.footer__content-logo img {
    display: block;
    max-width: 100px;
    max-height: 100%;
}

.footer__content-contact,
.footer__content-social,
.footer__content-links {
    flex: 1;
    margin-right: 2rem;
}

.footer__content-contact-title,
.footer__content-social-title,
.footer__content-links-title {
    font: var(--fonte-titulo);
    font-size: 1.5rem;
    color: var(--cor-primaria);
    margin-bottom: 1rem;
}

.footer__content-contact-list,
.footer__content-social-list,
.footer__content-links-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__content-contact-item,
.footer__content-social-item,
.footer__content-links-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: .5rem;
}

.footer__content-contact-item img,
.footer__content-social-item img,
.footer__content-links-item img{
    max-width: 24px;
    height: 24px;
}

.footer__content-contact-link,
.footer__content-social-link,
.footer__content-links-link {
    font: var(--fonte-padrao);
    font-weight: 500;
    text-decoration: none;
    color:var(--cor-primaria);
    margin-left: .5rem;
    transition: .3s ease-in-out;
}

.footer__content-links-link {
    margin-left: 0;
}

.footer__content-contact-link:hover,
.footer__content-social-link:hover,
.footer__content-links-link:hover {
    text-decoration: underline;
}
  
.footer__copy {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-top: 1.5px solid var(--cor-primaria);
    color: var(--cor-primaria);
    text-align: center;
    font: var(--fonte-padrao);
    font-weight: 500;
}

@media screen and (max-width: 800px) {
    /*Sessão de sobre o Cedup*/
    .aboutCedup-container article {
        width: 100%;
    }
    
    /*Sessão de contato*/
    .contact-container .title {
        font-size: 2rem;
    }

    .contact-container .contact-content {
        flex-direction: column;
        padding: 2rem 0 0 0;
    }

    .contact-wrapper {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
        padding: 0 1rem;   
    }

    .contact-content .map-iframe {
        width: 100%;
        max-height: 300px;
    }

    /*Footer*/
    .footer .footer__content {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__content-logo {
        width: 75px;
        height: 75px;
        margin: 1rem 0;
    }

    .footer__content-contact,
    .footer__content-social,
    .footer__content-links {
      flex: 1;
      margin: 1rem 0;
    }
}

@media screen and (max-width: 650px){
    /*Sessão de contato*/
    .contact-item a, .contact-item p {
        font-size: 1rem;   
    }

    .contact-item a[href*="mailto:"] {
        word-break: break-all;   
        min-width: 100%;
    }

    .contact-item img {
        width: 24px;
        height: 24px;
    }
}
